main/QSC1100-SYS/multimedia/audio/audiocal/data/audio_cal.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CALIBRATION_DATABASE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CALFILE_INFO" minOccurs="1" maxOccurs="1" />
        <xs:element ref="FEATURE_LIST" minOccurs="1" maxOccurs="1" />
        <xs:element ref="GROUPS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="TYPES" minOccurs="1" maxOccurs="1" />
        <xs:element ref="CALUNITS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="ASSOCIATIONS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="CALIBRATION" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="SchemaVersion" use="required" type="xs:string" fixed="1.0"></xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CALFILE_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GUID" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="VERSION" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAJOR" type="xs:long" />
              <xs:element name="MINOR" type="xs:long" />
              <xs:element name="USERVERSION" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BUILD_INFO" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TARGET_NAME" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="FileRef">
    <xs:attribute name="filename" use="required" />
  </xs:attributeGroup>
  <xs:attribute name="vartype">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PTR" />
        <xs:enumeration value="REFERENCE" />
        <xs:enumeration value="PTR2PTR" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="FEATURE_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FEATURE" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GROUPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GROUP" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GROUP">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TYPES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HEADER_INCLUDES" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="INTERNAL_DATATYPES" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="EXTERNAL_DATATYPES" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HEADER_INCLUDES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INCLUDE" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <!-- <xs:attribute name="output_file" /> -->
      <xs:attributeGroup ref="FileRef" />
    </xs:complexType>
  </xs:element>
  <xs:element name="INTERNAL_DATATYPES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONSTANTS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="MACROS" minOccurs="1" maxOccurs="1" />
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ENUM" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="STRUCTTYPE" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_TYPES" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="FileRef" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CONSTANTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONSTANT" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONSTANT">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="value" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MACROS">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="MACRO">
          <xs:complexType>
            <xs:attribute name="name" use="required" />
            <xs:attribute name="value" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STRUCTTYPE">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="STRUCT_ELEMENT" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_STRUCTTYPE" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="STRUCT_ELEMENT">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="datatype" type="xs:string" />
      <xs:attribute name="vartype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PTR" />
            <xs:enumeration value="REFERENCE" />
            <xs:enumeration value="PTR2PTR" />
            <xs:enumeration value="ARRAY" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="size" type="xs:int" />
      <xs:attribute name="typequalifier" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="EXTERNAL_DATATYPES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONSTANTS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="MACROS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="BASICTYPES" minOccurs="1" maxOccurs="1" />
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ENUM" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="STRUCTTYPE" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_TYPES" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BASICTYPES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TYPE">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="signed" type="xs:string" />
      <xs:attribute name="size" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENUM">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ENUM_ELEMENT" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_ENUM" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENUM_ELEMENT">
    <xs:complexType>
      <xs:attribute name="name" use="required" />
      <xs:attribute name="value" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CALUNITS">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="CALUNIT" minOccurs="1" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_CALUNITS" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CALUNIT">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ELEMENT" minOccurs="1" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_CALUNIT" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" use="required" />
      <xs:attribute name="GUID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ELEMENT">
    <xs:complexType>
      <xs:attribute name="name" use="required" />
      <xs:attribute name="datatype" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ASSOCIATIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ASSOCIATION" minOccurs="1" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_ASSOCIATIONS" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ASSOCIATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INDEX" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="CALUNIT_SUBINDEX" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" />
      <xs:attribute name="GUID" />
      <xs:attribute name="refDB" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="INDEX">
    <xs:complexType>
      <xs:attribute name="datatype" />
      <xs:attribute name="use" />
      <xs:attribute name="refAssociation" />
      <xs:attribute name="refIndexVar" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CALUNIT_SUBINDEX">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ARRAYINDEX" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="arrayName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ARRAYINDEX">
    <xs:complexType>
      <xs:attribute name="datatype" use ="required" />
      <xs:attribute name="use" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CALIBRATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DATAUNITS" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="CAL_DB" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAUNITS">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="DATAUNIT" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAUNITARRAY" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENT" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENTPTR" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENTARRAY" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_DATAUNITS" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="FileRef" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAUNIT">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="DATAUNIT" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAUNITARRAY" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENT" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENTPTR" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="DATAELEMENTARRAY" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_DATAUNITS" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" />
      <xs:attribute name="datatype" />
      <xs:attribute name="typequalifier">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="const" />
            <xs:enumeration value="CAL_MEMORY" />
            <xs:enumeration value="VOL_MEMORY" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAUNITARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="DATAELEMENTPTR" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="name" />
              <xs:attribute name="value" use="required" />
              <xs:attribute name="valtype" fixed="REFERENCE" />
              <xs:attribute name="typecast_to">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PTR" />
                    <xs:enumeration value="REFERENCE" />
                    <xs:enumeration value="NORMAL" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="typecast_type" />
              <xs:attribute ref="vartype" />
            </xs:complexType>
          </xs:element>
          <xs:element ref="DATAUNIT" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_DATAUNITARRAY" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" />
      <xs:attribute name="datatype" />
      <xs:attribute ref="vartype" />
      <xs:attribute name="typequalifier" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAELEMENTARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DATAELEMENT" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" />
            <xs:attribute name="value" use="required" />
            <xs:attribute name="valtype" fixed="REFERENCE" />
            <xs:attribute name="typecast_to">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="PTR" />
                  <xs:enumeration value="REFERENCE" />
                  <xs:enumeration value="NORMAL" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typecast_type" />
            <xs:attribute ref="vartype" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" />
      <xs:attribute name="datatype" />
      <xs:attribute name="typequalifier">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="const" />
            <xs:enumeration value="CAL_MEMORY" />
            <xs:enumeration value="VOL_MEMORY" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAELEMENT">
    <xs:complexType>
      <xs:attribute name="name" />
      <xs:attribute name="datatype" use="required" />
      <xs:attribute name="value" use="required" />
      <xs:attribute name="valtype" fixed="REFERENCE" />
      <xs:attribute name="typecast_to">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PTR" />
            <xs:enumeration value="REFERENCE" />
            <xs:enumeration value="NORMAL" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typecast_type" />
      <xs:attribute ref="vartype" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAELEMENTPTR">
    <xs:complexType>
      <xs:attribute name="name" />
      <xs:attribute name="value" use="required" />
      <xs:attribute name="valtype" fixed="REFERENCE" />
      <xs:attribute name="typecast_to">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PTR" />
            <xs:enumeration value="REFERENCE" />
            <xs:enumeration value="NORMAL" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typecast_type" />
      <xs:attribute ref="vartype" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_DB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INDICES">
          <xs:complexType>
            <xs:choice minOccurs="2" maxOccurs="2">
              <xs:element name="INDEX">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                  <xs:attribute name="datatype" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="CALUNIT_INSTANCE" minOccurs="0" maxOccurs="unbounded" />
          <xs:group ref="FEATURISATION_CAL_DB" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" />
      <xs:attribute name="datatype" />
      <xs:attribute ref="vartype" />
      <xs:attribute name="typequalifier" fixed="const" />
      <xs:attributeGroup ref="FileRef" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CALUNIT_INSTANCE">
    <xs:complexType>
      <xs:attribute name="name" />
      <xs:attribute ref="vartype" />
    </xs:complexType>
  </xs:element>
  <xs:element name="OPERAND">
    <xs:complexType>
      <xs:attribute name="name" use="required">
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="BINARY_OPERATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OPERAND" minOccurs="1" maxOccurs="1" />
        <xs:choice>
          <xs:element ref="OPERAND" />
          <xs:element ref="BINARY_OPERATION" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="opr" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="OR" />
            <xs:enumeration value="AND" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--Different Featurisation groups are listed below-->
  <xs:group name="FEATURISATION_TYPES">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM" />
                      <xs:element ref="STRUCTTYPE" />
                      <xs:group ref="FEATURISATION_TYPES" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM" />
                      <xs:element ref="STRUCTTYPE" />
                      <xs:group ref="FEATURISATION_TYPES" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM" />
                      <xs:element ref="STRUCTTYPE" />
                      <xs:group ref="FEATURISATION_TYPES" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM" />
                      <xs:element ref="STRUCTTYPE" />
                      <xs:group ref="FEATURISATION_TYPES" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="ENUM" />
                    <xs:element ref="STRUCTTYPE" />
                    <xs:group ref="FEATURISATION_TYPES" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_STRUCTTYPE">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="STRUCT_ELEMENT" />
                      <xs:group ref="FEATURISATION_STRUCTTYPE" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="STRUCT_ELEMENT" />
                      <xs:group ref="FEATURISATION_STRUCTTYPE" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="STRUCT_ELEMENT" />
                      <xs:group ref="FEATURISATION_STRUCTTYPE" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="STRUCT_ELEMENT" />
                      <xs:group ref="FEATURISATION_STRUCTTYPE" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="STRUCT_ELEMENT" />
                    <xs:group ref="FEATURISATION_STRUCTTYPE" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_ENUM">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM_ELEMENT" />
                      <xs:group ref="FEATURISATION_ENUM" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM_ELEMENT" />
                      <xs:group ref="FEATURISATION_ENUM" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM_ELEMENT" />
                      <xs:group ref="FEATURISATION_ENUM" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ENUM_ELEMENT" />
                      <xs:group ref="FEATURISATION_ENUM" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="ENUM_ELEMENT" />
                    <xs:group ref="FEATURISATION_ENUM" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_CALUNITS">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT" />
                      <xs:group ref="FEATURISATION_CALUNITS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT" />
                      <xs:group ref="FEATURISATION_CALUNITS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT" />
                      <xs:group ref="FEATURISATION_CALUNITS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT" />
                      <xs:group ref="FEATURISATION_CALUNITS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="CALUNIT" />
                    <xs:group ref="FEATURISATION_CALUNITS" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_CALUNIT">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ELEMENT" />
                      <xs:group ref="FEATURISATION_CALUNIT" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ELEMENT" />
                      <xs:group ref="FEATURISATION_CALUNIT" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ELEMENT" />
                      <xs:group ref="FEATURISATION_CALUNIT" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ELEMENT" />
                      <xs:group ref="FEATURISATION_CALUNIT" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="ELEMENT" />
                    <xs:group ref="FEATURISATION_CALUNIT" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_ASSOCIATIONS">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ASSOCIATION" />
                      <xs:group ref="FEATURISATION_ASSOCIATIONS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ASSOCIATION" />
                      <xs:group ref="FEATURISATION_ASSOCIATIONS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ASSOCIATION" />
                      <xs:group ref="FEATURISATION_ASSOCIATIONS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="ASSOCIATION" />
                      <xs:group ref="FEATURISATION_ASSOCIATIONS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="ASSOCIATION" />
                    <xs:group ref="FEATURISATION_ASSOCIATIONS" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_DATAUNITS">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element ref="DATAUNITARRAY" />
                      <xs:element ref="DATAELEMENT" />
                      <xs:element ref="DATAELEMENTPTR" />
                      <xs:element ref="DATAELEMENTARRAY" />
                      <xs:group ref="FEATURISATION_DATAUNITS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element ref="DATAUNITARRAY" />
                      <xs:element ref="DATAELEMENT" />
                      <xs:element ref="DATAELEMENTPTR" />
                      <xs:element ref="DATAELEMENTARRAY" />
                      <xs:group ref="FEATURISATION_DATAUNITS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element ref="DATAUNITARRAY" />
                      <xs:element ref="DATAELEMENT" />
                      <xs:element ref="DATAELEMENTPTR" />
                      <xs:element ref="DATAELEMENTARRAY" />
                      <xs:group ref="FEATURISATION_DATAUNITS" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element ref="DATAUNITARRAY" />
                      <xs:element ref="DATAELEMENT" />
                      <xs:element ref="DATAELEMENTPTR" />
                      <xs:element ref="DATAELEMENTARRAY" />
                      <xs:group ref="FEATURISATION_DATAUNITS" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="DATAUNIT" />
                    <xs:element ref="DATAUNITARRAY" />
                    <xs:element ref="DATAELEMENT" />
                    <xs:element ref="DATAELEMENTPTR" />
                    <xs:element ref="DATAELEMENTARRAY" />
                    <xs:group ref="FEATURISATION_DATAUNITS" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_DATAUNITARRAY">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element name="DATAELEMENTPTR">
                        <xs:complexType>
                          <xs:attribute name="name" />
                          <xs:attribute name="value" use="required" />
                          <xs:attribute name="valtype" fixed="REFERENCE" />
                          <xs:attribute name="typecast_to">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="PTR" />
                                <xs:enumeration value="REFERENCE" />
                                <xs:enumeration value="NORMAL" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="typecast_type" />
                          <xs:attribute ref="vartype" />
                        </xs:complexType>
                      </xs:element>
                      <xs:group ref="FEATURISATION_DATAUNITARRAY" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element name="DATAELEMENTPTR">
                        <xs:complexType>
                          <xs:attribute name="name" />
                          <xs:attribute name="value" use="required" />
                          <xs:attribute name="valtype" fixed="REFERENCE" />
                          <xs:attribute name="typecast_to">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="PTR" />
                                <xs:enumeration value="REFERENCE" />
                                <xs:enumeration value="NORMAL" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="typecast_type" />
                          <xs:attribute ref="vartype" />
                        </xs:complexType>
                      </xs:element>
                      <xs:group ref="FEATURISATION_DATAUNITARRAY" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element name="DATAELEMENTPTR">
                        <xs:complexType>
                          <xs:attribute name="name" />
                          <xs:attribute name="value" use="required" />
                          <xs:attribute name="valtype" fixed="REFERENCE" />
                          <xs:attribute name="typecast_to">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="PTR" />
                                <xs:enumeration value="REFERENCE" />
                                <xs:enumeration value="NORMAL" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="typecast_type" />
                          <xs:attribute ref="vartype" />
                        </xs:complexType>
                      </xs:element>
                      <xs:group ref="FEATURISATION_DATAUNITARRAY" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="DATAUNIT" />
                      <xs:element name="DATAELEMENTPTR">
                        <xs:complexType>
                          <xs:attribute name="name" />
                          <xs:attribute name="value" use="required" />
                          <xs:attribute name="valtype" fixed="REFERENCE" />
                          <xs:attribute name="typecast_to">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="PTR" />
                                <xs:enumeration value="REFERENCE" />
                                <xs:enumeration value="NORMAL" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="typecast_type" />
                          <xs:attribute ref="vartype" />
                        </xs:complexType>
                      </xs:element>
                      <xs:group ref="FEATURISATION_DATAUNITARRAY" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="DATAUNIT" />
                    <xs:element name="DATAELEMENTPTR">
                      <xs:complexType>
                        <xs:attribute name="name" />
                        <xs:attribute name="value" use="required" />
                        <xs:attribute name="valtype" fixed="REFERENCE" />
                        <xs:attribute name="typecast_to">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="PTR" />
                              <xs:enumeration value="REFERENCE" />
                              <xs:enumeration value="NORMAL" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="typecast_type" />
                        <xs:attribute ref="vartype" />
                      </xs:complexType>
                    </xs:element>
                    <xs:group ref="FEATURISATION_DATAUNITARRAY" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="FEATURISATION_CAL_DB">
    <xs:sequence>
      <xs:element name="FEATURISATION">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="FEATURE_IF" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT_INSTANCE" />
                      <xs:group ref="FEATURISATION_CAL_DB" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_IF_BINARY" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT_INSTANCE" />
                      <xs:group ref="FEATURISATION_CAL_DB" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="FEATURE_ELIF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT_INSTANCE" />
                      <xs:group ref="FEATURISATION_CAL_DB" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="FEATURE_ELIF_BINARY" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="BINARY_OPERATION" />
                    <xs:choice maxOccurs="unbounded">
                      <xs:element ref="CALUNIT_INSTANCE" />
                      <xs:group ref="FEATURISATION_CAL_DB" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="FEATURE_ELSE" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element ref="CALUNIT_INSTANCE" />
                    <xs:group ref="FEATURISATION_CAL_DB" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>